body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: transparent;
    padding: 10px 20px;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 8px 16px;
    background: linear-gradient(to bottom, #fc466b, #3f5efb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-left: 15px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    border-radius: 8px;
    background: linear-gradient(to bottom, #fc466b, #3f5efb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu li a:hover {
    border-bottom: 2px solid #fff;
    background: linear-gradient(to bottom, #fc466b, #3f5efb);
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    transform: scale(1.1);
}
